.setting_name {
	vertical-align: top;
}

/* 
  The definitions below provide the style for the edit CSS button 
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
input.mod_rbtoggle_edit_css {
  color: #000;
  background-color: #F0F0F0;
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  margin-left: 625px;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 110px;
}